/**
 * customizações de reescrita do bootstrap
 */
body{
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial,sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.form-control{
	border-radius: initial;
	font-weight: normal;
}

.btn-primary{
	background-color: #2dbe60;
    border-color: #3CB371;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
	background: #0d9f40;
	border-color: #3CB371;
	transition: .1s background ease-in-out;
}

.btn{
	padding: 8px 14px;	
}

.btn-align{
	margin-left: 1em;
}

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

a, a:visited, a:hover{
	color: #0d9f40;
	text-decoration: none;
}

/**
 * customizações específicas
 */
.login-box{
	max-width: 50%;	
	margin: 0 auto 8em auto;
    border: 1px solid #dedede;
    padding: 2.3em 2em 1.3em 2em;
    background-color: #ffffff;
}

.header-login{
	margin-top: 5em;
	margin-bottom: 1.9em;
	color: #696969;
}

.wrap{
	background-color: #ecf0f5;
	min-height: 100%;

	/*background-image: url("../uploads/frutas2.jpg");
	background-repeat: no-repeat;*/
}

.full-page{
	background-color: #ecf0f5;
}

.checkbox-space{
    padding-left: 2.5em;
}

.profile-image{
	max-width: 50px !important;
	min-height: 50px;
	border-radius: 50%;
	margin-right: 0.5em;
}

.navbar-default{
	height: 65px;
	background-color: #4db6ac;
	margin-bottom: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #4db6ac;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-right{
	margin-top: -0.6em;
}

.option-right{
    height: 40px;
    margin-top: -0.5em;
}

.navbar-align, .navbar-header{
	padding-top: 0.5em;
}

.navbar-brand{
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:visited
{
	color: rgba(255, 255, 255, 0.9);
}

.navbar-default .navbar-nav > li > a{
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover{
	font-size: 1.1em;
}

.dropdown-menu{
	width: 100%;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

.option-mobile{
	display: none !important;
}

.box{
    margin: 0 auto 2em auto;
    border: 1px solid #dedede;
    /*padding: 2.3em 2em 1.3em 2em;*/
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.container{
    margin-top: 4em;
    padding-top: 1.5em !important;
}

.container h1{
	padding-left: 0.5em;
}

.box-border{
    border-top: 3px solid #d2d6de;
}

.box-success{
	border-top-color: #00a65a;
}

.box-theme{
	/*background-color: #77D2C8;*/
	background-color: #83a1d7;
}

.box .box-body{
	padding: 2.3em 2em 1.3em 2em;
}

.box-theme .box-body{
    padding-top: 2.8em;
    padding-bottom: 3em;
}

.text-white{
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}

.info-text{
	font-size: 2.5em;
	display: block;
	padding-top: 0.5em;
}

.info-longtext{
	font-size: 2.2em;
	display: block;
	padding-top: 0.76em;
}
.margin-row{
	margin-top: 1em;
}

p.pesquisa-invalida{
    text-align: center;
    font-size: 1.5em;
}

.tabela-peso{
	margin-top: 2em;
}

.badge{
    border-radius: 2px;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;
    font-size: 1em;
    color: #fff;
}
.positive-badge{
    background-color: #26a69a;
}

.negative-badge{
	background-color: #c62828;
}

/**
 * configurações do smart-phone
 */
@media(max-width: 576px) {
	.login-box{
		max-width: 95%;
	}

	.navbar-right{
		display: none;
	}

	.option-mobile{
		display: block !important;
	}

	.pull-right{
		display: none;
	}

	.navbar-header{
		padding-left: 1em;
		padding-right: 1em;
	}

	.navbar-nav{
		margin-top: 0;
		padding-left: 0.5em;
	}

	.box-theme{
	    padding-top: 2.3em;
    	padding-bottom: 1.3em;
	}
}